**/bin/
**/obj/
**/build/
**/.gradle/
**/.idea/
**/local.properties
**/signing.properties
*.keystore
*.jks
*.pdb
*.user
/dist/
/publish/
/audit*/
/test-results/
*.log
/windows/tools/
/windows/models/
